<nav id="navbar" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Sexy Candies</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#about">Sobre</a></li>
      <li><a href="#concept">Concepto</a>
      <li><a href="#product">Productos</a>
      <li><a href="#creator">Creadora</a>
      <li><a href="#creations">Creaciones</a>
      <li><a href="#contact">Contact</a>
      <li><a href="/SexyCandies/en">English</a>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><div id="fblike" class="fb-like" data-href="https://www.facebook.com/Sexy-Candies-71394348212" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div></li>
    </ul>
  </div>
</nav>
