<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Sexy Candies</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="{{ page.home }}"><a href="/">Home</a></li>
      <li class="{{ page.about }}"><a href="#about">About</a></li>
      <li class="{{ page.none }}"><a href="#">None</a>
      <li class="{{ page.contact }}"><a href="/#contact">Contact</a>
      <li><a href="#">CV</a>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><div class="fb-like" data-href="https://www.facebook.com/Sexy-Candies-71394348212" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div></li>
    </ul>
  </div>
</nav>
