<!DOCTYPE html>
<html>
  {% include head.html %}
  <body data-spy="scroll" data-target="#navbar" data-offset="50">
    {% include nav-SPA.html %}

    <div class="container-fluid">
      <div class="col-md-8">
        {{content}}
      </div>

      <div id="fbside" class="col-md-4">
        <div class="fb-page well well-sm" data-href="https://www.facebook.com/Sexy-Candies-71394348212" data-tabs="timeline" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"></div>
      </div>
    </div>


    {% include footer.html %}
    {% include scripts.html %}
  </body>
</html>
