<!DOCTYPE html>
<html>
  {% include head.html %}
  <body data-spy="scroll" data-target="#navbar" data-offset="50">
    {% include nav.html %}

    <div class="col-md-8">
      {{content}}
    </div>

    <div class="fb-page col-md-4 well" data-href="https://www.facebook.com/Sexy-Candies-71394348212" data-tabs="timeline" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"></div>


    {% include footer.html %}
    {% include scripts.html %}
  </body>
</html>
